$main-font-size: 10px;

legend span.accesibility {
  position:absolute;
  left:-9999px;
  width:100px;
  height:auto;
  overflow:hidden;
}
fieldset {border:0;padding:0;margin-left:0;margin-bottom: 20px;  }
#confirmation_cancellationmsg a {text-decoration: underline;}
#registrationIDElement, #sessionIDElement, #studentIDElement {text-align: center;}
#registrationIDElement div , #sessionIDElement div, #studentIDElement div {font-size:1.5em; border: 1px solid #333; border-radius: 5px; margin: auto; background-color:white;}
#maincontent .important {color: red; font-weight: bold; }
.printreceiptmsg {color: red; font-weight: bold;text-transform: uppercase;}
label.entryField {font-weight: normal;}
body {font-size:14px;}
table {font-size: 16px;}
#maincontent .locationinfo {color: #888; font-size: .9em;}
.idnumber {border: 1px solid #bbb; padding: 0 15px; background-color:#ddd; border-radius: 5px;}
#fh-paymentcongradualtions .panel-body, #fh-paymentcancellation .panel-body {background-color:white !important; padding: 0; }
#payment-infoElement {margin-bottom: 0 !important; }
#dobirthElement .form-control-feedback {margin-top:25px; margin-right: 60px !important;}
.btn-bar {margin: 0 !important; background-color: #e5e5e5 !important;padding: 8px; border-radius: 5px; border: 1px solid #c5c5c5;}
#maincontent .buttonbar .panel-body {padding: 0; background-color: white;}
#maincontent .buttonbar {margin: 0;}
.loadingResults {text-align: center;}
#session-datetimeElement ul {padding: 0 15px; margin: 0 !important; list-style-position: outside;}
.empsearch .col-md-5 {margin-top: 10px;}
.empsearch {display: table; width: 100%;}
.empsearch:nth-child(even) {background-color: #eee;}
#employerSearchResults {max-height: 300px; overflow-y: scroll; padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-top: 10px;}
#serviceModalBody .btn-info {margin-top: 25px;}
a[type="button"] {min-width: 200px; color: white !important; margin-right: 10px; text-decoration: none !important;}
.col-xs-12>a[type="button"] {width: 95%;}
#genderElement .horizontal .form-control-feedback {right: -30px; line-height:25px;}
.glyphicon-info-sign {color: #31708f;}
#maincontent p.courseandexam {padding: 0 5px; text-align: center; border-radius: 5px; color: #a94442; background-color: #f2dede; font-weight: bold;}
#maincontent p.examonly {padding: 0 5px; text-align: center; border-radius: 5px; color: #31708f; background-color: #d9edf7; font-weight: bold;}
#maincontent .nobottomborder {border-bottom: 0 dashed #ddd;}
#maincontent .notopborder, #maincontent .notopborder td {border-top: 0 dashed #ddd;}
#maincontent .center {text-align: center;}
#maincontent #fh-sessions {border: 1px solid #ddd; margin: 15px 0;}
#maincontent #fh-sessions td[rowspan] {vertical-align: middle;}
#maincontent .paragraphBlock {max-width: 800px;}
#maincontent .btn-bar {margin-top: 20px;}
#maincontent  button  {min-width: 120px;}
#maincontent  button .buttontext {margin:0 5px;}
#maincontent .navbar .nav-pills {margin:0; padding: 0;}
#maincontent .navbar li {margin-right: 10px;text-align: center; min-width:130px; background-color: #eee; border:1px solid #ccc; border-radius:5px;}
#maincontent .navbar li.active a:hover {background-color: #337ab7 !important;}
#maincontent .navbar li p {margin: 0;}
#maincontent .navbar li .btntitle {}
#maincontent .navbar li .btndesc {font-size: .85em;}
#maincontent h1, #maincontent h2 {color: #256c8b;}
#maincontent .contentblock {background-color: #f5f5f5; border: 1px solid #e3e3e3;padding: 10px; border-radius: 5px; margin-bottom: 10px;}
#maincontent #fh-step1 a.notallowed {cursor: not-allowed;}
#maincontent .or {text-align: center; font-weight: bold;  margin-top:15px; width: 500px;}
#maincontent input {background-color: white; line-height: 20px;padding: 6px;border-radius:5px;border: 1px solid #ccc;}
#maincontent input[disabled] {background-color:#eee;}
#maincontent .center {text-align: center;}
#maincontent .totalcost {font-weight: bold; font-size: 1.1em;}

#app-content-bottom {height:30px;}
#maincontent .panel {background-color: white;}
#maincontent .radioTitle {font-weight:bold; font-size: 1.5em;}
#sessionid, #studentid, #registrationID {color: red;font-size: 1.2em;}
#maincontent .panel a {text-decoration:underline;}
#maincontent .btn-bar button {width:100%;}
#maincontent #fh-step5 {text-align: center;}
#maincontent #loadingPaymentForm , #maincontent .finalizingpayment {text-align: center; padding-top: 40px; font-size: 1.3em;}
#maincontent .right {text-align:right;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  input[type='checkbox'], input[type='radio']  {padding: 0 !important;border: none !important;}
}

@media print {
  .btn-bar, button {display:none !important;}
}

